:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

body {
  color: rgba(var(--foreground-rgb, 0.87));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Editor container styles */

.tiptap {
  border: 1px solid lightgray;
  min-height: 30rem;
  max-height: 30rem;
  overflow-y: auto;
  outline: none;
}
/* Editor node styles */

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}
.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.tiptap h1,
.tiptap h2,
.tiptap h3 {
  line-height: 1.1;
  text-wrap: pretty;
}
.tiptap h1,
.tiptap h2 {
  margin-bottom: 1.5rem;
}
.tiptap h1 {
  font-size: 1.4rem;
}
.tiptap h2 {
  font-size: 1.2rem;
}
.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap pre {
  background: black;
  border-radius: 0.5rem;
  color: white;
  font-family: "JetBrainsMono", monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.tiptap blockquote {
  border-left: 3px solid lightgray;
  margin: 1.5rem 0;
  padding-left: 1rem;
}
